<div class="grid mt-3">
  <div class="col">
    <p-card styleClass="card-images">
      <div class="grid mt-1">
        <div class="col">
          <img class="images-banner max-height" src="assets/images/image-1.png" alt="" />
        </div>
        <div class="col">
          <img class="images-banner max-height" src="assets/images/image-2.png" alt="" />
        </div>
        <div class="col">
          <img class="images-banner max-height" src="assets/images/image-3.png" alt="" />
        </div>
      </div>
    </p-card>
  </div>
</div>
<div class="grid mt-2">
  <div class="col">
    <p-card>
      <div class="grid">
        <div class="col-7">
          <h1>Soluciones Tecnológicas para Impulsar tu Negocio</h1>

          <p>
            Implementamos y gestionamos infraestructura, desarrollo de software y servicios en la
            nube con enfoque en resultados.
          </p>
          <div class="grid">
            <div class="col">
              <div class="flex flex-row flex-wrap">
                <p-button
                  icon="pi pi-inbox"
                  class="mr-2 mt-2"
                  label="Ver servicios"
                  (click)="servicePage()"
                ></p-button>
                <p-button
                  icon="pi pi-shield"
                  severity="secondary"
                  class="m-2"
                  label="Área Administrativa"
                  (click)="adminPage()"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <p-card>
            <div class="grid">
              <div class="col">
                <table>
                  <tbody>
                    <tr>
                      <td class="first-item">Experiencia</td>
                      <td style="padding-left: 20px">+10 años entregando proyectos exitosos</td>
                    </tr>
                    <tr>
                      <td class="first-item">Especialidades</td>
                      <td style="padding-left: 20px">Cloud, DevOps, Ciberseguridad, Data</td>
                    </tr>
                    <tr>
                      <td class="first-item">Soporte</td>
                      <td style="padding-left: 20px">24/7 con acuerdos de nivel de servicio</td>
                    </tr>
                    <tr>
                      <td class="first-item">Cobertura</td>
                      <td style="padding-left: 20px">Remoto y onsite para LATAM</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </p-card>
  </div>
</div>
